apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL-ROOT_PASSWORD: "rootpassword123"
  MYSQL-USER: "appuser"
  MYSQL-PASSWORD: "apppassword123"
  MYSQL-DATABASE: "appdb"
